/*This is the css for heading section*/

.heading-section{
	display: flex;
	font-family:sans-serif;
	font-size:2vw;
	border-bottom: 3px solid grey;
	box-shadow: 4px 2px 3px grey;
	height:12vw;
	margin-left: 3%;
	margin-right: 3%;
}

.city-image{
	height: 10vw;
}

.city-text{
	color:lightslategray;
	margin-left: 5%;
}

/*heading section css ends here*/